@font-face {
    font-family: 'CursedTimerULiL';
    src: url('./CursedTimerULiL.ttf');
}
body {
    margin: 0;
    background: #1B244A;
}

.container {
    
    display: flex;
    justify-content: space-around;
}

h2{
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #EEEEEE;

}

h3{
    margin: auto;
   font-family: CursedTimerULiL;
    font-size: 60px;
    font-weight: 300px;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    background: #080001;
    color: #F94F6D;
}

.button-style{
    display: flex;
   margin-top:20px;
  justify-content: space-between;
    
}

button{
    
    width: 40px;
   height:35px;
    border-radius: 5px;
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8


}



#NewGame{
    font-size: 10px;
    padding: 5px 5px;
    margin-top: auto;
    
    font-weight: bold;
}
